# gitignore記述ルール
#  ハッシュ記号で始まる行はコメントとして扱われる
#  空行は無視される
#  ! マークで始まる行は残りのパターンを否定します
#  スラッシュ/で終わる場合はディレクトリのみを表す
#  スラッシュ/で始まる場合はルートディレクトリからを表す
#  どこにもスラッシュ/が無い場合はシェルのglobパターンとしてファイル名のベース部分にマッチするか検査される
#  複数マッチするパターンがある場合は最後にマッチするものが優先される

# *~
# ファイル名の最後に ~ がある全てのファイル 例) index.html~ 等

# *.[ao]
# 拡張子が a 又は o のファイル 例) hello.a foo.o

# t/
# t ディレクトリは全て無視されます

# v
# ファイル名が v の場合無視されるが v がディレクトリ名の場合は無視されません

# !*.t
# 拡張子 t を持つファイルは無視されません

readme
*.psd
*.scss
*._scss
node_modules