#set root(true or false)
root = true

[*]
#set charset
charset = utf-8

#set indent size
indent_size = 2

#set indent style(tab or space)
indent_style = space


[{*.html, *.css, *.scss}]
indent_size = 4